html {
  background-color: #52ACFF;
  background-image: linear-gradient(180deg, #52ACFF 25%, #FF2C36 100%);
  min-height: 100vh;
}

body {
  margin: 0;
  font-family: 'Noto Serif', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


main.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

blockquote {
  position: relative;
  font-size: 30px;
  width: 800px;
  max-width: 100vw;
  color: aliceblue;
  border-top: 1px solid;
  border-bottom: 1px solid;
}

blockquote > div {
  padding: .6em;
}

.quote:after {
  position: absolute;
  content: "”";
  color: rgba(255, 255, 255, 1);
  font-size: 10rem;
  line-height: 0;
  bottom: -43px;
  right: 30px;
}
